 <body style="padding-top:0px">       
 <div style="margin:0 auto;width:900px;margin-top:50px;">
   <span style="width:900px;">

   <%= high_chart("chart_domain_track", g_chart_browser(params[:c_id])) %>
   </span>

   </div>
 </body>

