<style>

</style>
<body style="padding-top:0px">       
 <div style="width:900px;margin:0 auto;">

   <div class="header">退订用户信息<small>(0人次)</small></div>
   <table class="table table-striped">
     <thead class="focus-thead">
       <tr>
         <th>会员信息</th>
         <th>退订时间</th>
       </tr>
     </thead>
     <tbody>

         <tr>
           <td colspan="2" style="text-align: center">退订记录为空</td>
         </tr>

     </tbody>
   </table>


 </div>

</body>
