<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>又是一年春意暖，投资理财好时机</title>
<style type="text/css">
<!--
body {
	margin-top: 0px;
}
-->
</style></head>

<body>
<div>
投资保底----
前五年2.5%最低保证利率，以后每年2%最低保证利率，让您的投资“零”风险。
持续奖金----
合同满2、3、4周年之日仍有效的，额外按趸交保费扣除已领账户价值后的余额的0.7%给付持续奖金，并计入个人帐户。
兼顾保障----
持续拥有身故与第一级残疾保障至75岁，且无需支付风险保险费
强劲增值----
实际结算利率在最低保障利率之上浮动，可分享未来投资成果
账户透明----
每月第一个工作日公布上月结算利率，并按月复利计息
账户灵活----
可视个人需要部分领取账户价值。满2年后领取，不收取任何费用，您也可以选择继续持有，享受长期投资带来的丰厚收益
货到付款----
在线投保下订单，保单快递送达后再付款

</div></body>
</html>
