<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>恭祝您：新春快乐，万事如意！</title>

</head>
<body style="font-family: Arial,Helvetica,sans-serif,'微软雅黑'; font-size: 12px; color: #555;">
    
    <title>恭祝您：新春快乐，万事如意</title>
    <style>
        a:hover{text-decoration:none;}
    </style>


    <table style="margin: 0 auto;
        font-size: 12px; font-family: '微软雅黑'; color: #fff; background-color: #d11f1e;" cellpadding="0" cellspacing="0" align="center" border="0" width="536">
        <tbody><tr>
            <td>
                    <img src="$|img0|$" border="none">
            </td>
        </tr>
        <tr>
            <td>
                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                    <tbody><tr>
                        <td style="padding: 5px 0 20px 0; color: #fff; font-size: 28px; " align="center">
                            春雪 <span style="padding: 5px 0 20px 0; color: #fff; font-size: 18px; ">韩愈 [唐]</span>

                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 28px; color: #fff;" align="center">
                            新年都未有芳华，

                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 28px; color: #fff;" align="center">
                            二月初惊见草芽。

                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 28px; color: #fff;" align="center">
                            白雪却嫌春色晚，

                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 28px; color: #fff;" align="center">
                            故穿庭树作飞花。


                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 25px 0 20px 0; font-size: 28px; color: #fff;" align="center">
                            谨祝您：万事如意！

                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 5px 0 40px 0; font-size: 28px; color: #fff;" align="center">
                            沙爱春

                        </td>
                    </tr>

                </tbody></table>
            </td>
        </tr>
    </tbody></table>
    <br>
    <table cellpadding="0" cellspacing="0" align="center">
        <tbody><tr>
            <td style="text-align: right; font-size: 10px;" width="536px">
                
            </td>
        </tr>
    </tbody></table>
	
</div>



</body></html>