<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 TRANSITIONAL//EN">
<HTML><HEAD><TITLE></TITLE>
<meta content="text/html; charset=utf-8" http-equiv=content-type>
<meta name=generator content="mshtml 8.00.6001.19393"></HEAD>
<BODY leftmargin=0 topmargin=0 bgcolor=#ffffff marginheight="0" marginwidth="0">
<TABLE border=0 cellspacing=0 cellpadding=0 width=700 align=center>
  <TBODY>
  <TR>
    <TD style="font-family: '微软雅黑', arial; font-size: 12px" height=30 
    align=middle>如果页面无法正常显示，请<A 
      href="http://www.ganso.com.cn/?l=1"
    target=_blank>[单击这里]</A></TD></TR>
  <TR>
    <TD>
      <TABLE border=0 cellspacing=0 cellpadding=0 width="100%">
        <TBODY>
        <TR>
          <TD><A href="http://www.ganso.com.cn/?l=1" 
            target=_blank><IMG border=0 src="images/top1_01.gif" 
            width=549 height=105 alt="元祖官网"></A></TD>
		  <TD><A href="http://e.weibo.com/2043174307/profile?ref=edm" 
            target=_blank><IMG border=0 src="images/sina-weibo.gif" 
            width=151 height=105 alt="新浪微博官方帐号"></A></TD></TR></TBODY></TABLE></TD></TR>
  <TR>
    <TD>	
		<div style="width:700px; height:33px; float:left; background:url(images/12_menu.jpg);margin-left:0px; margin-top:0px;padding-top:7px;border:0; font-size:16px; font-family:黑体;  background-color:#c6024c; text-align:center; color:#ffffff;">		
			<A href="http://www.ganso.com.cn/?l=2" target="_blank" style="color:#ffffff;text-decoration: none;">首页 </A> | 
			<A href="http://www.ganso.com.cn/article/detail.html?id=172" target="_blank" style="color:#ffffff;text-decoration: none;">最新活动 </A> | 
			<A href="http://www.ganso.com.cn/list-26.html" target="_blank" style="color:#ffffff;text-decoration: none;">元祖much蛋糕 </A> | 
			<A href="http://www.ganso.com.cn/content/article_hgm.html?id=153" target="_blank" style="color:#ffffff;text-decoration: none;">启蒙乐园  </A> | 
			<A href="http://jf.ganso.com.cn/" target="_blank" style="color:#ffffff;text-decoration: none;">积分商城  </A> | 
			<A href="http://www.ganso.com.cn/content/article_hgm.html?id=61" target="_blank" style="color:#ffffff;text-decoration: none;">联系我们 </A> 
		</div></TD></TR>
  <TR>
    <TD>
      <TABLE border=0 cellspacing=0 cellpadding=0 width="100%">
        <TBODY>
        <TR>
          <TD><A href="http://www.ganso.com.cn/?l=3" 
            target=_blank><IMG border=0 src="images/p_main.gif" 
            width=568 height=262 alt="元祖龙粽"></TD></A>
		  <TD><A href="http://e.weibo.com/2043174307/profile?ref=edm1" 
            target=_blank><IMG border=0 src="images/p_shirenjie.gif" 
            width=132 height=262 alt="诗人节活动"></A></TD></TR></TBODY></TABLE></TD></TR>
  <TR>
    <TD>
      <TABLE border=0 cellspacing=0 cellpadding=0 width="100%">
        <TBODY>
        <TR>
          <TD><A href="http://detail.tmall.com/item.htm?spm=a1z10.1.w3-18409491506.4.DjGhTd&id=9912287693&" 
            target=_blank><IMG border=0 src="images/p_a.gif" 
            width=184 height=209 alt="端午礼盒A"></TD></A>
          <TD><A href="http://detail.tmall.com/item.htm?spm=a1z10.1.w3-18409491506.2.DjGhTd&id=9912276021&" 
            target=_blank><IMG border=0 src="images/p_b.gif" 
            width=172 height=209 alt="端午礼盒B"></TD></A>
          <TD><A href="http://detail.tmall.com/item.htm?spm=a1z10.1.w3-18409491506.3.DjGhTd&id=10214929993&" 
            target=_blank><IMG border=0 src="images/p_c.gif" 
            width=170 height=209 alt="端午礼盒C"></TD></A>
		  <TD><A href="http://detail.tmall.com/item.htm?spm=a1z10.1.w3-18409491506.1.DjGhTd&id=9912579829&" 
            target=_blank><IMG border=0 src="images/p_d.gif" 
            width=174 height=209 alt="端午礼盒D"></A></TD></TR></TBODY></TABLE></TD></TR>
  <TR>
    <TD>
      <TABLE border=0 cellspacing=0 cellpadding=0 width="100%">
        <TBODY>
        <TR>
          <TD><A href="http://www.ganso.com.cn/detail-1578.html" 
            target=_blank><IMG border=0 src="images/p_5.gif" 
            width=184 height=287 alt="新西兰苹果"></TD></A>
          <TD><A href="http://www.ganso.com.cn/detail-1628.html" 
            target=_blank><IMG border=0 src="images/p_6.gif" 
            width=172 height=287 alt="金煌芒果"></TD></A>
          <TD><A href="http://www.ganso.com.cn/detail-773.html" 
            target=_blank><IMG border=0 src="images/p_7.gif" 
            width=170 height=287 alt="爱文芒果"></TD></A>
		  <TD><A href="http://www.ganso.com.cn/detail-1554.html" 
            target=_blank><IMG border=0 src="images/p_8.gif" 
            width=174 height=287 alt="金钻凤梨"></A></TD></TR></TBODY></TABLE></TD></TR>
  <TR>
    <TD>
      <TABLE border=0 cellspacing=0 cellpadding=0 width="100%">
        <TBODY>
        <TR>
          <TD><A href="http://www.ganso.com.cn/detail-1863.html" 
            target=_blank><IMG border=0 src="images/p_last.gif" 
            width=470 height=274 alt="元祖双黄玉子"></TD></A>
		  <TD><A href="http://www.ganso.com.cn/?l=4" 
            target=_blank><IMG border=0 src="images/p_weixin.gif" 
            width=230 height=274 alt="元祖微信二维码"></A></TD></TR></TBODY></TABLE></TD></TR>

  <TR>
    <TD><A href="http://www.ganso.com.cn/?l=5" 
            target=_blank><IMG border=0 src="images/botom_logo.gif" width=700 
      height=61 alt="元祖官网首页"></A></TD></TR>
  <TR>
    <TD style="font-family: '微软雅黑', arial; font-size: 12px" height=30 
    align=middle>如您不希望收到类似邮件，请点击<A href="mailto:unsubscribe@ganso.net" target="_blank" style="text-decoration: none;">[退订]</A>，或发邮件到 unsubscribe@ganso.net</TD></TR>
	  </TBODY></TABLE><!-- end save for web slices -->

</body></HTML>