<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 TRANSITIONAL//EN">
<HTML><HEAD><TITLE></TITLE>
<meta content="text/html; charset=utf-8" http-equiv=content-type>
<meta name=generator content="mshtml 8.00.6001.19393"></HEAD>
<BODY leftmargin=0 topmargin=0 bgcolor=#ffffff marginheight="0" marginwidth="0">
<TABLE border=0 cellspacing=0 cellpadding=0 width=700 align=center>
  <TBODY>
  <TR>
    <TD style="font-family: '微软雅黑', arial; font-size: 12px" height=30 
    align=middle>如果页面无法正常显示，请<A 
      href="$|href27|$"
    target=_blank>[单击这里]</A></TD></TR>
  <TR>
    <TD>
      <TABLE border=0 cellspacing=0 cellpadding=0 width="100%">
        <TBODY>
        <TR>
          <TD><A href="$|href28|$" 
            target=_blank><IMG border=0 src="$|img34|$" 
            width=549 height=89 alt="元祖官网"></A></TD>
		  <TD><A href="$|href5|$" 
            target=_blank><IMG border=0 src="$|img35|$" 
            width=151 height=89 alt="新浪微博官方帐号"></A></TD></TR></TBODY></TABLE></TD></TR>
  <TR>
    <TD>	
		<div style="width:700px; height:33px; float:left; background:url(images/12_menu.jpg);margin-left:0px; margin-top:0px;padding-top:7px;border:0; font-size:16px; font-family:黑体;  background-color:#c6024c; text-align:center; color:#ffffff;">		
			<A href="$|href29|$" target="_blank" style="color:#ffffff;text-decoration: none;">首页 </A> | 
			<A href="$|href2|$" target="_blank" style="color:#ffffff;text-decoration: none;">最新活动 </A> | 
			<A href="$|href26|$" target="_blank" style="color:#ffffff;text-decoration: none;">元祖much蛋糕 </A> | 
			<A href="$|href0|$" target="_blank" style="color:#ffffff;text-decoration: none;">启蒙乐园  </A> | 
			<A href="$|href33|$" target="_blank" style="color:#ffffff;text-decoration: none;">积分商城  </A> | 
			<A href="$|href1|$" target="_blank" style="color:#ffffff;text-decoration: none;">联系我们 </A> 
		</div></TD></TR>
  <TR>
    <TD>
      <TABLE border=0 cellspacing=0 cellpadding=0 width="100%">
        <TBODY>
        <TR>
          <TD><A href="$|href3|$" 
            target=_blank><IMG border=0 src="$|img36|$" 
            width=240 height=324 alt="元祖龙粽"></A></TD>
          <TD><A href="$|href4|$" 
            target=_blank><IMG border=0 src="$|img37|$" 
            width=223 height=324 alt="晒单就有礼"></A></TD>
		  <TD><A href="$|href6|$" 
            target=_blank><IMG border=0 src="$|img38|$" 
            width=237 height=324 alt="微博活动"></A></TD></TR></TBODY></TABLE></TD></TR>
  <TR>
    <TD>
      <TABLE border=0 cellspacing=0 cellpadding=0 width="100%">
        <TBODY>
        <TR>
          <TD width="180"><A href="$|href15|$" 
            target=_blank><IMG border=0 src="$|img39|$" 
            width=184 height=180 alt="台湾龙粽"></A></TD>
          <TD width="180"><A href="$|href13|$" 
            target=_blank><IMG border=0 src="$|img40|$" 
            width=174 height=180 alt="紫米八宝龙粽"></A></TD>
          <TD width="180"><IMG border=0 src="$|img41|$" 
            width=164 height=180 alt="山药红豆粽/鳗鱼粽"  useMap=#Map></TD>
		  <TD width="160"><A href="$|href17|$" 
            target=_blank><IMG border=0 src="$|img42|$" 
            width=178 height=180 alt="菌菇粽"></A></TD></TR></TBODY></TABLE></TD></TR>
  <TR>
    <TD>
      <TABLE border=0 cellspacing=0 cellpadding=0 width="680" height="33px" text-align=center>
        <TBODY style="border:0; font-size:16px; font-family:微软雅黑;  background-color:#ffffff; text-align:center; color:#000000;">
        <TR>
          <TD><A href="$|href15|$" 
            target=_blank style="color:#000000;text-decoration: none;">台湾龙粽</A></TD>
          <TD><A href="$|href13|$" 
            target=_blank style="color:#000000;text-decoration: none;">紫米八宝龙粽</A></TD>
          <TD><A href="$|href19|$" 
            target=_blank style="color:#000000;text-decoration: none;">山药红豆粽</A>/<A href="$|href21|$" 
            target=_blank style="color:#000000;text-decoration: none;">鳗鱼粽</A></TD>
		  <TD><A href="$|href17|$" 
            target=_blank style="color:#000000;text-decoration: none;">菌菇粽</A></TD></TR></TBODY></TABLE></TD></TR>
  <TR>
    <TD>
      <TABLE border=0 cellspacing=0 cellpadding=0 width="100%">
        <TBODY>
        <TR>
          <TD><A href="$|href9|$" 
            target=_blank><IMG border=0 src="$|img43|$" 
            width=184 height=253 alt="新西兰苹果"></A></TD>
          <TD><A href="$|href11|$" 
            target=_blank><IMG border=0 src="$|img44|$" 
            width=174 height=253 alt="金煌芒果"></A></TD>
          <TD><A href="$|href23|$" 
            target=_blank><IMG border=0 src="$|img45|$" 
            width=164 height=253 alt="爱文芒果"></A></TD>
		  <TD><A href="$|href7|$" 
            target=_blank><IMG border=0 src="$|img46|$" 
            width=178 height=253 alt="金钻凤梨"></A></TD></TR></TBODY></TABLE></TD></TR>
  <TR>
    <TD>
      <TABLE border=0 cellspacing=0 cellpadding=0 width="100%" height="33px" text-align=center>
        <TBODY style="border:0; font-size:16px; font-family:微软雅黑;  background-color:#ffffff; text-align:center; color:#000000;">
        <TR>
          <TD><A href="$|href9|$" 
            target=_blank style="color:#000000;text-decoration: none;">新西兰苹果</A></TD>
          <TD><A href="$|href11|$" 
            target=_blank style="color:#000000;text-decoration: none;">金煌芒果</A></TD>
          <TD><A href="$|href23|$" 
            target=_blank style="color:#000000;text-decoration: none;">爱文芒果</A></TD>
		  <TD><A href="$|href7|$" 
            target=_blank style="color:#000000;text-decoration: none;">金钻凤梨</A></TD></TR></TBODY></TABLE></TD></TR>
  <TR>
    <TD>
      <TABLE border=0 cellspacing=0 cellpadding=0 width="100%">
        <TBODY>
        <TR>
          <TD><A href="$|href25|$" 
            target=_blank><IMG border=0 src="$|img47|$" 
            width=522 height=196 alt="冰爽抹茶季"></A></TD>
		  <TD><A href="$|href30|$" 
            target=_blank><IMG border=0 src="$|img48|$" 
            width=178 height=196 alt="元祖微信二维码"></A></TD></TR></TBODY></TABLE></TD></TR>

  <TR>
    <TD><A href="$|href31|$" 
            target=_blank><IMG border=0 src="$|img49|$" width=700 
      height=61 alt="元祖官网首页"></A></TD></TR>
  <TR>
    <TD style="font-family: '微软雅黑', arial; font-size: 12px" height=30 
    align=middle>这封信是发给$|EMAIL|$，如不想再收到类似信件，请点击<A href="$|href32|$&cid=$|CID|$&email=$|EMAIL|$" target="_blank" style="text-decoration: none;">[退订]</A>
	 <br/> 版权所有，&copy2013 上海元祖梦果子股份有限公司</TD></TR>
	  </TBODY></TABLE><!-- end save for web slices --><MAP 
name=Map><AREA href="$|href19|$" shape=rect target=_blank 
  coords=1,1,161,98><AREA href="$|href21|$" shape=rect target=_blank 
  coords=1,98,161,179></MAP>

</body></HTML>
