Dear $|NAME|$ <br/>
from $|EMAIL|$ <br/>
<table width="950" height="1061" id="Table_01" border="0" cellspacing="0" cellpadding="0">
	<tbody><tr>
		<td colspan="4"><a target=_blank href="$|href3|$" target="_new"><img width="950" height="400" src="$|img5|$" border="0"></a></td>
	</tr>
	<tr>
		<td rowspan="2"><a target=_blank href="$|href2|$" target="_new"><img width="305" height="448" src="$|img6|$" border="0"></a></td>
		<td colspan="3"><a target=_blank href="$|href0|$" target="_new"><img width="645" height="224" src="$|img7|$" border="0"></a></td>
	</tr>
	<tr>
		<td colspan="3"><a target=_blank href="$|href1|$" target="_new"><img width="645" height="224" src="$|img8|$" border="0"></a></td>
	</tr>
	<tr>
		<td colspan="2">
			<img width="348" height="212" src="$|img9|$" border="0"></td>
		<td><a target=_blank href="$|href4|$" target="_new"><img width="279" height="212" src="$|img10|$" border="0"></a></td>
		<td>
			<img width="323" height="212" src="$|img11|$" border="0"></td>
	</tr>
	<tr>
		<td>
			<img width="305" height="1"></td>
		<td>
			<img width="43" height="1"></td>
		<td>
			<img width="279" height="1"></td>
		<td>
			<img width="323" height="1"></td>
	</tr>
</tbody></table>