Dear $|NAME|$ <br/>
from $|EMAIL|$ <br/>
DEAR $|NAME|$ <BR/>
FROM $|EMAIL|$ <BR/>
<HTML>
<HEAD></HEAD>
<STYLE TYPE="TEXT/CSS">
UL{LIST-STYLE:NONE;MARGIN:0PX;}
</STYLE>
<BODY ID="DDDD" STYLE = "DDDDEE">
<UL>
<LI><A HREF="HTTP://WWW.BAIDU.COM" TARGET="BLANK">TEXT0</A></LI>
<LI><A HREF="HREF1" TARGET="BLANK">TEXT1</A></LI>
</UL>
</BODY>
</HTML>