Dear $|NAME|$ <br/>
from $|EMAIL|$ <br/>
<div style="width:720px; margin:0 auto;">
			<div style="width:700px; height:30px; margin-right:20px; line-height:30px; text-align:right; color:#333333;">如邮件不能正常显示，<a href="$|href0|$" target="_blank">请点击此处</a>查看</div>
			<img src="$|img3|$" width="720" height="150" style="margin:0px;padding:0px;font-family:'宋体',arial;border:0;" />
			<div style="line-height:28px; margin:15px 20px;">
				<strong><p style="margin:0px;padding:0px;font-family:'宋体',arial;">亲爱的<span style="color:#0035e0;">$|NAME|$</span>:</p></strong>
				<p style="text-indent:26px;margin:0px;padding:0px;font-family:'宋体',arial;">双十一是不是忘了通过粒粒返拿返利呢？双十二可不要再错过了噢~~</p>
				<p style="text-indent:26px;margin:0px;padding:0px;font-family:'宋体',arial;">只需一步，淘宝购物最高就可节省55%的现金，试试粒粒返不一样的<a href="$|href1|$" target="_blank">快捷返利</a>吧~</p>
			</div>
			<div style=" height:30px; margin:205px 20px 0 20px; color:#565656; font-size:14px; font-family:“微软雅黑”,“宋体”;">
				1、找到商品，复制商品地址&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				2、粘帖商品地址至粒粒返地址框&nbsp;&nbsp;&nbsp;
				3、点粒粒返跳转，购买拿返利！~
			</div>
			<div style="margin:110px 0 0 405px;"><a href="$|href1|$" target="_blank"><img src="$|img4|$" width="97" height="31" style="margin:0px;padding:0px;font-family:'宋体',arial;border:0;" /></a></div>
			<p style="margin-top:32px; text-align:center; color:#565656;margin:0px;padding:0px;font-family:'宋体',arial;">活动期间:通过粒粒返去淘宝购物成功，除获得高额的现金返利外，还可以获得额外的50个集分宝奖励</p>
			<div style="margin-top:10px; padding:5px 0; background-color:#5b3962; text-align:center; color:#ffffff; line-height:18px;">
				此为系统邮件，请勿直接回复。如果您有任何问题，请访问：帮助中心或发送邮件：help@lilifan.com<br/>
				全国热线：400-618-0030<br />
				Copyright © 粒粒返(返利官方网站) 2011,All Rights Reserved
			</div>
		</div>
