<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<!-- saved from url=(0042)$|href0|$ -->
<html><head><title>ca technologies lisa解决方案在线研讨会</title>
<meta content="text/html; charset=gb2312" http-equiv=content-type>
<meta name=generator content="mshtml 8.00.6001.19393"></head>
<body leftmargin=0 topmargin=0 bgcolor=#ffffff marginheight="0" marginwidth="0">
<table border=0 cellspacing=0 cellpadding=0 width=800 align=center>
  <tbody>
  <tr>
    <td style="font-family: '微软雅黑', arial; font-size: 12px" height=30 
    align=middle>如果页面无法正常显示，请<a 
      href="$|href0|$" 
    target=_blank>[单击这里]</a></td></tr>
  <tr>
    <td><img alt="" src="$|img6|$" 
      width=800 height=81></td></tr>
  <tr>
    <td><img alt="" src="$|img7|$" 
      width=800 height=85></td></tr>
  <tr>
    <td><img alt="" src="$|img8|$" 
      width=800 height=93></td></tr>
  <tr>
    <td>
      <table border=0 cellspacing=0 cellpadding=0 width="100%">
        <tbody>
        <tr>
          <td><img 
            src="$|img9|$" 
            width=583 height=96></td>
          <td><a href="$|href1|$" 
            target=_blank><img border=0 
            src="$|img10|$" 
            width=217 height=96></a></td></tr></tbody></table></td></tr>
  <tr>
    <td><img alt="" src="$|img11|$" 
      width=800 height=125></td></tr>
  <tr>
    <td><img alt="" src="$|img12|$" 
      width=800 height=75></td></tr>
  <tr>
    <td><img border=0 alt="" 
      src="$|img13|$" width=800 
      height=100 usemap=#map2></td></tr>
  <tr>
    <td><img border=0 alt="" 
      src="$|img14|$" width=800 
      height=81 usemap=#map3></td></tr>
  <tr>
    <td><img border=0 alt="" 
      src="$|img15|$" width=800 
      height=88 usemap=#map4></td></tr>
  <tr>
    <td><img border=0 alt="" 
      src="$|img16|$" width=800 
      height=112 usemap=#map></td></tr>
  <tr>
    <td><img alt="" src="$|img17|$" 
      width=800 
height=44></td></tr></tbody></table><!-- end save for web slices --><map 
name=map><area href="$|href5|$" shape=rect target=_blank 
  coords=168,90,341,108></map><map name=map2><area href="$|href2|$" 
  shape=rect target=_blank coords=547,46,725,105></map><map name=map3><area 
  href="$|href2|$" shape=rect target=_blank 
coords=546,1,724,81></map><map name=map4><area href="$|href2|$" 
  shape=rect target=_blank coords=546,1,724,19></map></body></html>