Dear $|NAME|$ <br/>
from $|EMAIL|$ <br/>
<div align="center">

  <p><font size="5" color="#FF0000">人与情</font></p>
  <p><img width="420" height="458" src="http://s12.sinaimg.cn/middle/87cb9f82gce99bb56f45b&690"></p>
  <p><img width="420" height="458" src="http://s16.sinaimg.cn/middle/87cb9f82g7b0f5f89749f&690"></p>
  <p><img width="420" height="458" src="http://s7.sinaimg.cn/mw600/87cb9f82gce99bb5bc4d6&690"></p>
  <p><img width="420" height="458" src="http://s6.sinaimg.cn/middle/87cb9f82gce99bb568395&690"></p>
  <p><font color="#FF0000">感觉很好，所以与你分享！</font></p>
</div>
