<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<!-- saved from url=(0042)http://s-event.cn/edm/CA/121129/index.html -->
<HTML><HEAD><TITLE>CA Technologies LISA解决方案在线研讨会</TITLE>
<META content="text/html; charset=gb2312" http-equiv=Content-Type>
<META name=GENERATOR content="MSHTML 8.00.6001.19393"></HEAD>
<BODY leftMargin=0 topMargin=0 bgColor=#ffffff marginheight="0" marginwidth="0">
<TABLE border=0 cellSpacing=0 cellPadding=0 width=800 align=center>
  <TBODY>
  <TR>
    <TD style="FONT-FAMILY: '微软雅黑', Arial; FONT-SIZE: 12px" height=30 
    align=middle>如果页面无法正常显示，请<A 
      href="http://s-event.cn/edm/CA/121129/index.html" 
    target=_blank>[单击这里]</A></TD></TR>
  <TR>
    <TD><IMG alt="" src="images/index_01.jpg" 
      width=800 height=81></TD></TR>
  <TR>
    <TD><IMG alt="" src="images/index_02.jpg" 
      width=800 height=85></TD></TR>
  <TR>
    <TD><IMG alt="" src="images/index_03.jpg" 
      width=800 height=93></TD></TR>
  <TR>
    <TD>
      <TABLE border=0 cellSpacing=0 cellPadding=0 width="100%">
        <TBODY>
        <TR>
          <TD><IMG 
            src="images/index_04_01.jpg" 
            width=583 height=96></TD>
          <TD><A href="http://s-event.cn/edm/CA/121129/reg.html" 
            target=_blank><IMG border=0 
            src="images/index_04_02.jpg" 
            width=217 height=96></A></TD></TR></TBODY></TABLE></TD></TR>
  <TR>
    <TD><IMG alt="" src="images/index_05.jpg" 
      width=800 height=125></TD></TR>
  <TR>
    <TD><IMG alt="" src="images/index_06.jpg" 
      width=800 height=75></TD></TR>
  <TR>
    <TD><IMG border=0 alt="" 
      src="images/index_07.jpg" width=800 
      height=100 useMap=#Map2></TD></TR>
  <TR>
    <TD><IMG border=0 alt="" 
      src="images/index_08.jpg" width=800 
      height=81 useMap=#Map3></TD></TR>
  <TR>
    <TD><IMG border=0 alt="" 
      src="images/index_09.jpg" width=800 
      height=88 useMap=#Map4></TD></TR>
  <TR>
    <TD><IMG border=0 alt="" 
      src="images/index_10.jpg" width=800 
      height=112 useMap=#Map></TD></TR>
  <TR>
    <TD><IMG alt="" src="images/index_11.jpg" 
      width=800 
height=44></TD></TR></TBODY></TABLE><!-- End Save for Web Slices --><MAP 
name=Map><AREA href="http://ca.com/" shape=rect target=_blank 
  coords=168,90,341,108></MAP><MAP name=Map2><AREA href="http://ca.i-events.cn/" 
  shape=rect target=_blank coords=547,46,725,105></MAP><MAP name=Map3><AREA 
  href="http://ca.i-events.cn/" shape=rect target=_blank 
coords=546,1,724,81></MAP><MAP name=Map4><AREA href="http://ca.i-events.cn/" 
  shape=rect target=_blank coords=546,1,724,19></MAP></BODY></HTML>