Dear $|NAME|$ <br/>
from $|EMAIL|$ <br/>
<div dir="ltr">
<div style="FONT-FAMILY: &#39;Calibri&#39;; COLOR: #000000; FONT-SIZE: 12pt">
<div>&nbsp;</div>
<div style="FONT-STYLE: normal; DISPLAY: inline; FONT-FAMILY: &#39;Calibri&#39;; COLOR: #000000; FONT-SIZE: small; FONT-WEIGHT: normal; TEXT-DECORATION: none">
<table style="COLOR: #000000" border="0" cellpadding="0" cellspacing="0" width="101%"><tbody>
  <tr>
    <td align="left" valign="top" width="388">
      <table style="COLOR: #000000" border="0" cellpadding="0" cellspacing="0" height="398" width="100%">
        <tbody>
        <tr>
          <td align="right" background="./images/bg_200904.gif" height="250" valign="top">&nbsp;</td></tr></tbody></table></td>
    <td align="left" valign="top" width="620">
      <table style="COLOR: #000000" border="0" cellpadding="0" cellspacing="0" width="620">
        <tbody>
        <tr>
          <td align="left" valign="top"><a name="top"></a><img src="$|img28|$" height="11" width="620"></td></tr>
        <tr>
          <td align="center" background="./images/05.gif" height="21" valign="top">
            <table style="COLOR: #000000" border="0" cellpadding="0" cellspacing="0" width="580">
              <tbody>
              <tr>
                <td class="bk12" align="left" height="21" valign="top">Sept. 27 , 2012 
                  Vol. 79</td>
                <td class="bk12" align="right" height="21" valign="top"><a href="$|href25|$" target="_blank">取消订阅</a> | <a href="$|href8|$" target="_blank">关于浩擎</a></td></tr></tbody></table></td></tr>
        <tr>
          <td align="left" background="./images/05(1).gif" valign="top"><img src="$|img29|$" height="151" width="620"> 
            <table style="COLOR: #000000" border="0" cellpadding="0" cellspacing="0" width="620">
              <tbody>
              <tr>
                <td align="left" height="10" valign="top"><br></td></tr>
              <tr>
                <td align="center" valign="top">
                  <table style="COLOR: #000000" border="0" cellpadding="0" cellspacing="0" width="547">
                    <tbody>
                    <tr>
                      <td class="bk12" align="left" height="20" valign="top" width="547"><strong><br>亲爱的客户及合作伙伴，您好： </strong></td></tr>
                    <tr>
                      <td align="left" height="10" valign="top"><br></td></tr>
                    <tr>
                      <td class="bk12" align="left" height="60" valign="top">针对国内的资安事件，其中因数据传送未使用加密机制，造成账号密码外泄事件层出不穷，由于邮件系统为企业与外界沟通与业务往来重要的信息交换平台。因此也常常成为有心人士亟欲窥探与意图窃取数据的目标。…更多内容请见本期报导！ 
                      </td></tr>
                    <tr>
                      <td align="left" valign="top"><br></td></tr>
                    <tr>
                      <td align="left" valign="top">
                        <table style="COLOR: #000000" border="0" cellpadding="0" cellspacing="0" width="540">
                          <tbody>
                          <tr>
                            <td align="left" valign="top">&nbsp;</td></tr>
                          <tr>
                            <td align="left" background="./images/03_1.gif" height="30" valign="middle">
                              <table style="COLOR: #000000" border="0" cellpadding="0" cellspacing="0" width="530">
                                <tbody>
                                <tr>
                                <td align="left" valign="top">&nbsp;</td>
                                <td align="left" valign="middle"><span class="style2">当期目录</span></td></tr></tbody></table></td></tr>
                          <tr>
                            <td align="left" background="./images/03.gif" valign="top">
                              <table style="COLOR: #000000" border="0" cellpadding="0" cellspacing="0" width="530">
                                <tbody>
                                <tr>
                                <td height="154" width="27">&nbsp;</td>
                                <td width="503">
                                <table style="COLOR: #000000" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                <tr>
                                <td colspan="4" align="left" height="10" valign="top"><br></td></tr>
                                <tr>
                                <td class="bk12" align="left" valign="top" width="149"><strong>最新消息</strong></td>
                                <td class="bk12" align="left" valign="top" width="3">&nbsp;</td>
                                <td class="bk12" align="left" valign="middle" width="344">
                                <p><a href="$|href17|$">化被动为主动！ 
                                Openfind 推出结合安全传输的邮件资安感知服务<br></a><a href="$|href18|$">MailBase 
                                4.0 SP2 MailBase 4.0 SP2 面对个资法与Big 
                                Data推出创新应用，持续领导邮件归档市场<br></a><a href="$|href19|$">MailGates 
                                云端防护机制对于社交工程演练影响说明<br></a></p>
                                </td><td class="bk12" align="left" valign="top" width="7">&nbsp;</td></tr>
                                <tr>
                                <td colspan="4" align="left" height="15" valign="top"><br></td></tr>
                                <tr>
                                <td class="bk12" align="left" valign="top"><strong>Openfinder 看世界</strong></td>
                                <td class="bk12" align="left" valign="top">&nbsp;</td>
                                <td class="bk12" align="left" valign="top"><a href="$|href20|$">40 
                                岁的梦想，现在就要起步</a></td>
                                <td class="bk12" align="left" valign="top">&nbsp;</td></tr>
                                <tr>
                                <td colspan="4" align="left" height="15" valign="top"><br></td></tr>
                                <tr>
                                <td class="bk12" align="left" valign="top"><strong>产业洞悉</strong></td>
                                <td class="bk12" align="left" valign="top">&nbsp;</td>
                                <td class="bk12" align="left" valign="top"><a href="$|href21|$">智能时代一定要会的信息整理术</a><br>
                                </td><td class="bk12" align="left" valign="top">&nbsp;</td></tr>
                                <tr>
                                <td colspan="4" align="left" height="15" valign="top"><br></td></tr>
                                <tr>
                                <td class="bk12" align="left" valign="top"><strong>新闻回顾</strong></td>
                                <td class="bk12" align="left" valign="top">&nbsp;</td>
                                <td class="bk12" align="left" valign="top">
                                <p><a href="$|href22|$">【新闻】邮件安全再进化 
                                全新MailGates提供固若金汤的最佳防护</a><br><a href="$|href23|$">【新闻】深耕校园邮件信息解决方案十年有成，Mail2000 
                                v6 推出大专教育版，串连信息安全与沟通行动力 </a><br><a href="$|href24|$">【解决方案下载】主动稽核降低风险，邮件安全轻松掌握</a><br></p></td>
                                <td class="bk12" align="left" valign="top">&nbsp;</td></tr>
                                <tr>
                                <td colspan="4" align="left" height="2" valign="top"><br></td></tr></tbody></table></td></tr></tbody></table></td></tr>
                          <tr>
                            <td align="left" height="6" valign="top"><img src="$|img30|$" height="6" width="540"></td></tr>
                          <tr>
                            <td align="left" height="6" valign="top"><br></td></tr></tbody></table></td></tr>
                    <tr>
                      <td align="left" height="2" valign="top"><br></td></tr>
                    <tr>
                      <td align="left" valign="top">
                        <table style="COLOR: #000000" border="0" cellpadding="0" cellspacing="0" width="540">
                          <tbody>
                          <tr>
                            <td align="left" valign="top">
                              <table style="COLOR: #000000" border="0" cellpadding="0" cellspacing="0" width="540">
                                <tbody>
                                <tr>
                                <td align="left" valign="top">&nbsp;</td></tr>
                                <tr>
                                <td align="left" valign="top" width="540"><a name="a1"></a><span class="bk14">最新消息</span></td></tr>
                                <tr>
                                <td align="left" height="10" valign="top"><br></td></tr>
                                <tr>
                                <td class="bk13" align="left" valign="top">化被动为主动！ 
                                Openfind 推出结合安全传输的邮件资安感知服务</td></tr>
                                <tr>
                                <td class="bk12" align="left" height="79" valign="top">
                                <p>针对国内的资安事件，其中因数据传送未使用加密机制，造成账号密码外泄事件层出不穷，由于邮件系统为企业与外界沟通与业务往来重要的信息交换平台。因此也常常成为有心人士亟欲窥探与意图窃取数据的目标。 
                                ...<a href="$|href0|$" target="_blank">more</a></p></td></tr>
                                <tr>
                                <td align="right" height="30" valign="middle"><a href="$|href9|$"><img src="$|img31|$" border="0" height="11" width="34"></a></td></tr>
                                <tr>
                                <td align="left" height="10" valign="top"><br></td></tr>
                                <tr>
                                <td class="bk13" align="left" valign="top"><a name="a2"></a>MailBase 4.0 SP2 面对云端与Big 
                                Data推出创新应用，持续领导邮件归档市场</td></tr>
                                <tr>
                                <td class="bk12" align="left" height="79" valign="top">
                                <p>今年来最火红的话题除了云端外，即非Big Data莫属了。Big 
                                Data是指大量、高成长以及多变化的信息资产，透过社群媒体平台、电子邮件和即时消息的形式，从四面八方大量集结而成。其中，企业每日赖以沟通的工具-电子邮件，更不容小觑其数据量的成长。 
                                ...<a href="$|href1|$" target="_blank">more</a></p></td></tr>
                                <tr>
                                <td align="right" height="30" valign="middle"><a href="$|href9|$"><img src="$|img31|$" border="0" height="11" width="34"></a></td></tr>
                                <tr>
                                <td align="left" height="10" valign="top"><br></td></tr>
                                <tr>
                                <td class="bk13" align="left" valign="top"><a id="a3" name="a3"></a>MailGates 
                                云端防护机制对于社交工程演练影响说明</td></tr>
                                <tr>
                                <td class="bk12" align="left" height="47" valign="top">
                                <p>鉴于部分机关针对近日社交工程演练结果之回馈，端此说明 MailGates 
                                垃圾邮件过滤机制，并提出建议实行之做法 ...<a href="$|href2|$" target="_blank">more</a></p></td></tr>
                                <tr>
                                <td align="right" height="30" valign="middle"><a href="$|href9|$"><img src="$|img31|$" border="0" height="11" width="34"></a></td></tr>
                                <tr>
                                <td align="left" height="10" valign="top"><br></td></tr></tbody></table></td></tr></tbody></table></td></tr>
                    <tr>
                      <td align="left" valign="top">
                        <table style="COLOR: #000000" border="0" cellpadding="0" cellspacing="0" width="540">
                          <tbody>
                          <tr>
                            <td align="left" valign="top" width="540"><a name="b1"></a><span class="bk14">Openfinder 
                            看世界</span></td></tr>
                          <tr>
                            <td align="left" height="10" valign="top"><br></td></tr>
                          <tr>
                            <td align="left" valign="top">
                              <table style="COLOR: #000000" border="0" cellpadding="0" cellspacing="0" width="539">
                                <tbody>
                                <tr>
                                <td class="bk12" align="center" valign="top" width="98">
                                <div align="left">
                                <table style="COLOR: #000000" border="1" bordercolor="#999999" cellpadding="1" cellspacing="0" height="90" width="90">
                                <tbody>
                                <tr>
                                <td bordercolor="#ffffff" bgcolor="#ffffff" width="107">
                                <div align="center"><img src="$|img34|$" height="90" width="80"></div></td></tr></tbody></table></div>
                                <div align="left">By 浩擎科技 <br>执行长<br>廖长健<br></div>
                                <div align="left"></div></td>
                                <td align="left" valign="top" width="441">
                                <table style="COLOR: #000000" border="0" cellpadding="0" cellspacing="0" width="433">
                                <tbody>
                                <tr>
                                <td class="bk13" align="left" height="20" valign="top" width="433">40 岁的梦想，现在就要起步</td></tr>
                                <tr>
                                <td align="left" height="10" valign="top"><br></td></tr>
                                <tr>
                                <td class="bk12" align="left" height="60" valign="top">近来有不少媒体开始讨论有关40 
                                岁世代的文章与书籍，里头分享着各个面向的经验与法则，阅读后让人不禁想试问：现在20 多岁或30 
                                多岁的你，随着时间的推进，很快也将面临 40 岁的关卡。你是否想过 40 
                                岁的你会是什么样的人？是否买了房子、扛着沉重的房贷？小孩出生了没？父母身体健康吗？自己每天过得快乐吗？ 
                                ...<a href="$|href5|$" target="_blank">more</a></td></tr></tbody></table></td></tr></tbody></table></td></tr>
                          <tr>
                            <td align="right" height="30" valign="middle"><a href="$|href9|$"><img src="$|img31|$" border="0" height="11" width="34"></a></td></tr></tbody></table></td></tr>
                    <tr>
                      <td align="left" valign="top">
                        <br><table style="COLOR: #000000" border="0" cellpadding="0" cellspacing="0" width="540">
                          <tbody>
                          <tr>
                            <td align="left" valign="top">&nbsp;</td></tr>
                          <tr>
                            <td align="left" valign="top" width="540"><span class="bk14"><a name="c1"></a>产业洞悉</span></td></tr>
                          <tr>
                            <td align="left" height="10" valign="top"><br></td></tr>
                          <tr>
                            <td align="left" valign="top">
                              <table style="COLOR: #000000" border="0" cellpadding="0" cellspacing="0" width="539">
                                <tbody>
                                <tr>
                                <td class="bk12" align="center" valign="top" width="110">
                                <div align="left">
                                <table style="COLOR: #000000" border="1" bordercolor="#999999" cellpadding="1" cellspacing="0" height="90" width="90">
                                <tbody>
                                <tr>
                                <td bordercolor="#ffffff" bgcolor="#ffffff" width="107">
                                <div align="center"><img src="$|img36|$" height="85" width="80"></div></td></tr></tbody></table></div>
                                <div align="left">
                                <p>By 浩擎科技 <br>产品经理<br>林育竹<br></p></div>
                                <div align="left"></div></td>
                                <td align="left" valign="top" width="430">
                                <table style="COLOR: #000000" border="0" cellpadding="0" cellspacing="0" width="422">
                                <tbody>
                                <tr>
                                <td class="bk13" align="left" height="20" valign="top" width="422">智能时代一定要会的信息整理术</td></tr>
                                <tr>
                                <td align="left" height="10" valign="top"><br></td></tr>
                                <tr>
                                <td class="bk12" align="left" height="60" valign="top">散落各地的行程信息或开会数据，是很多商务人士的痛，若没有专属个人秘书协助规划时间，一旦有时程需要安排，就必须翻找笔记本中的重要时程，接着查看公司行事历有没有可用的简报设备、公务车或技术人员时间，最后确认自己这个时段是否不用外出、休假，经过各处信息多重确认，才能找出空余的时间可以处理这项任务。这样繁琐的确认步骤，早已大幅占去宝贵的时间，该如何更有效率的完成时程规划与安排，已成为商务人士重要的需求。 
                                ...<a href="$|href7|$" target="_blank">more 
                                </a></td></tr></tbody></table></td></tr></tbody></table></td></tr>
                          <tr>
                            <td class="bk12" align="left" valign="top"><br></td></tr>
                          <tr>
                            <td class="bk12" align="left" valign="top"><br></td></tr>
                          <tr>
                            <td align="right" height="30" valign="middle"><a href="$|href9|$"><img src="$|img31|$" border="0" height="11" width="34"></a></td>
                            <td align="left" height="10" valign="top"><br></td></tr>
                          <tr>
                            <td align="left" height="10" valign="top"><br></td></tr>
                          <tr>
                            <td class="bk12" align="left" valign="top"><br></td></tr>
                          <tr>
                            <td class="bk12" align="left" valign="top"><br></td></tr></tbody></table></td>
                      <td align="left" height="10" valign="top"><br></td></tr>
                    <tr>
                      <td align="left" valign="top">
                        <table style="COLOR: #000000" border="0" cellpadding="0" cellspacing="0" width="539">
                          <tbody></tbody></table></td></tr>
                    <tr>
                      <td class="bk12" align="left" valign="top"><br></td></tr>
                    <tr>
                      <td align="left" valign="top">
                        <br><br><br><table style="COLOR: #000000" border="0" cellpadding="0" cellspacing="0" width="540">
                          <tbody>
                          <tr>
                            <td align="left" valign="top" width="540"><a name="d1"></a><span class="bk14">新闻回顾</span></td></tr>
                          <tr>
                            <td align="left" height="10" valign="top"><br></td></tr>
                          <tr>
                            <td class="bk13" align="left" valign="top">
                              <p>【新闻】邮件安全再进化 全新 MailGates 提供固若金汤的最佳防护</p></td></tr>
                          <tr>
                            <td class="bk12" align="left" valign="top">毋庸置疑地，个资外泄风险与社交工程攻击息息相关。所谓的社交工程行为意指利用人性最不设防的直觉反应，应用与收件人最贴切的生活用语，取得信任，让被害人在毫无防备的情况下，经由直觉性的操作，被钓鱼网站蒙骗，造成机敏个资外泄。 
                              ...<a href="$|href3|$" target="_blank">more</a></td></tr>
                          <tr>
                            <td align="right" height="30" valign="middle"><a href="$|href9|$"><img src="$|img31|$" border="0" height="11" width="34"></a></td></tr>
                          <tr>
                            <td align="left" height="10" valign="top"><br></td></tr>
                          <tr>
                            <td class="bk13" align="left" valign="top">
                              <p><a id="d2" name="d2"></a>【新闻】深耕校园邮件信息解决方案十年有成，Mail2000 v6 
                              推出大专教育版，串连信息安全与沟通行动力 </p></td></tr>
                          <tr>
                            <td class="bk12" align="left" valign="top">Mail2000 
                              电子邮件系统，率先支持 IPv6 协议，同时扩充邮件安全功能，不仅支持密码政策（Password 
                              Policy），并提供更完整的社交工程（Social 
                              Engineering）防护控管措施，能统一调整使用者的相关邮件阅读安全设定，协助用户远离社交工程的威胁。 
                              ...<a href="$|href4|$" target="_blank">more</a></td></tr>
                          <tr>
                            <td align="right" height="30" valign="middle"><a href="$|href9|$"><img src="$|img31|$" border="0" height="11" width="34"></a></td></tr>
                          <tr>
                            <td align="left" height="10" valign="top"><br></td></tr>
                          <tr>
                            <td class="bk13" align="left" valign="top">
                              <p><a id="d6" name="d6"></a>【解决方案下载】主动稽核降低风险，邮件安全轻松掌握</p></td></tr>
                          <tr>
                            <td class="bk12" align="left" valign="top">信息技术演变至今，70% 
                              以上的企业与机关都仰赖电子邮件作为最主要的信息传递管道，但随着病毒信、社交工程与人员操作疏悉等种种因素，让电子邮件也成为常见的数据外泄主角。Openfind 
                              针对邮件安全，除了不断提升相关产品与服务的质量，也提出全新的邮件安全解决方案，希冀藉由完整的攻防策略，协助企业组织做好邮件防护 
                              ...<a href="$|href6|$" target="_blank">more</a></td></tr>
                          <tr>
                            <td align="right" height="30" valign="middle"><a href="$|href9|$"><img src="$|img31|$" border="0" height="11" width="34"></a></td></tr>
                          <tr>
                            <td align="left" height="10" valign="top"><br></td></tr></tbody></table></td></tr>
                    <tr>
                      <td align="left" height="10" valign="top">
                        <div align="center"><span class="bk12">Openfind 
                        于每月一次透过电子报寄送会员信息，若未来您不希望收到信息，请点选【<a href="$|href25|$" target="_blank">取消订阅</a>】。</span></div></td>
                      <td class="bk12" align="center" height="30" valign="middle">&nbsp;</td></tr>
                    <tr>
                      <td align="center" height="30" valign="middle"><span class="bk12">想要了解更多信息，请浏览 <a href="$|href27|$" target="_blank">www.openfind.com</a> 或来电 (021)5187-3387咨询。 
                        </span></td></tr>
                    <tr>
                      <td align="left" height="20" valign="middle"><img src="$|img41|$" height="8" width="541"></td></tr>
                    <tr>
                      <td class="bk12" align="center" valign="top"><span class="style1">? 2012 Openfind</span></td></tr>
                    <tr>
                      <td align="left" height="2" valign="top"><br></td></tr></tbody></table></td></tr></tbody></table></td></tr>
        <tr>
          <td align="left" height="12" valign="top"><img src="$|img42|$" height="12" width="620"></td></tr></tbody></table></td>
    <td align="left" valign="top" width="404">
      <table style="COLOR: #000000" border="0" cellpadding="0" cellspacing="0" height="398" width="100%">
        <tbody>
        <tr>
          <td align="left" background="./images/bg_200904.gif" height="250" valign="top">&nbsp;</td></tr></tbody></table>
      <div align="center"></div></td></tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
    <td align="left" valign="top">&nbsp;</td>
    <td align="left" valign="top">&nbsp;</td></tr></tbody></table><img src="$|img43|$" height="1" width="1"> </div></div></div>