Dear $|NAME|$ <br/>
from $|EMAIL|$ <br/>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 TRANSITIONAL//EN"
"HTTP://WWW.W3.ORG/TR/HTML4/LOOSE.DTD">
<HTML>
<HEAD>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="TEXT/HTML; CHARSET=UTF-8">
<!--記得修改BASE URL的日期 -->
<!--BASE HREF="HTTP://WWW.OPENFIND.COM/TAIWAN/EPAPER/20070510/"-->
<TITLE>OPENFIND ENEWS VOL.80 业界第一！OPENFIND MESSAGING ASSURANCE APPLIANCE荣获 IPV6 READY 金质标章</TITLE>
<STYLE TYPE="TEXT/CSS">
<!--
A:LINK {
	COLOR: #6699CC;
}
A:VISITED {
	COLOR: #6699CC;
}
A:HOVER {
	COLOR: #FF6600;
	POSITION:RELATIVE;
	TOP:1PX;
	LEFT:1PX;
}
BODY {
	MARGIN-LEFT: 0PX;
	MARGIN-TOP: 0PX;
	MARGIN-RIGHT: 0PX;
	MARGIN-BOTTOM: 0PX;
}
.BK12 {
	FONT-SIZE: 12PX;
	FONT-WEIGHT: NORMAL;
	COLOR: #333333;
	FONT-FAMILY: VERDANA, ARIAL, HELVETICA, SANS-SERIF;
	LINE-HEIGHT: 20PX;
}
.BK13 {
	FONT-SIZE: 12PX;
	FONT-WEIGHT: BOLD;
	COLOR: #FF8A00;
	FONT-FAMILY: VERDANA, ARIAL, HELVETICA, SANS-SERIF;
	LINE-HEIGHT: 20PX;
}
.BK14 {
	FONT-SIZE: 15PX;
	FONT-WEIGHT: BOLD;
	COLOR: #696969;
	FONT-FAMILY: VERDANA, ARIAL, HELVETICA, SANS-SERIF;
	LINE-HEIGHT: 20PX;
}
.STYLE1 {COLOR: #999999}
.STYLE2 {
	COLOR: #666666;
	FONT-WEIGHT: BOLD;
}
A.RAD:LINK{	
COLOR: #FF0000;
FONT-SIZE: 13PX;
TEXT-DECORATION: NONE;}
A.RAD:VISITED{	
COLOR: #FF0000;
FONT-SIZE: 13PX;
TEXT-DECORATION: NONE;}
A.RAD:HOVER{	
COLOR: #FF0000;
FONT-SIZE: 13PX;
TEXT-DECORATION: UNDERLINE;}.WHITE {
	FONT-SIZE: 12PX;
	COLOR: #FFFFFF;	
}
.STYLE3 {
	COLOR: #0033FF;
	FONT-WEIGHT: BOLD;
}
-->
</STYLE>
</HEAD>

<BODY>
<TABLE WIDTH="101%" CELLSPACING="0" CELLPADDING="0" BORDER="0">
  <TBODY><TR>
    <TD WIDTH="388" ALIGN="LEFT" VALIGN="TOP"> 
      <TABLE WIDTH="100%" HEIGHT="398" CELLSPACING="0" CELLPADDING="0" BORDER="0">
      <TBODY><TR>
        <TD VALIGN="TOP" HEIGHT="250" BACKGROUND="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/IMAGES/BG_200904.GIF" ALIGN="RIGHT">&NBSP;</TD>
      </TR>
    </TBODY></TABLE></TD>
    <TD WIDTH="620" VALIGN="TOP" ALIGN="LEFT"><TABLE WIDTH="620" CELLSPACING="0" CELLPADDING="0" BORDER="0">
      <TBODY><TR>
        <TD VALIGN="TOP" ALIGN="LEFT"><A NAME="TOP"></A><IMG WIDTH="620" HEIGHT="11" SRC="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/IMAGES/01.GIF"></TD>
      </TR>
      <TR>
        <TD VALIGN="TOP" HEIGHT="21" BACKGROUND="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/IMAGES/05.GIF" ALIGN="CENTER"><TABLE WIDTH="580" CELLSPACING="0" CELLPADDING="0" BORDER="0">
            <TBODY><TR>
                <TD VALIGN="TOP" HEIGHT="21" ALIGN="LEFT" CLASS="BK12">OCT. 25 
                  , 2012 VOL. 80</TD>
                <TD VALIGN="TOP" HEIGHT="21" ALIGN="RIGHT" CLASS="BK12"><A TARGET="_BLANK" HREF="HTTP://CNDEMO.OPENFIND.COM/CHINA/ORDER/INDEX.PHP">取消订阅</A> | <A TARGET="_BLANK" HREF="HTTP://WWW.OPENFIND.COM/CHINA/ABOUT_OPENFIND/COMPANY.HTM">关于浩擎</A></TD>
            </TR>
        </TBODY></TABLE></TD>
      </TR>
      <TR>
          <TD VALIGN="TOP" BACKGROUND="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/IMAGES/05.GIF" ALIGN="LEFT"><IMG WIDTH="620" HEIGHT="151" SRC="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/IMAGES/HEADING_201210_CN.JPG">
            <TABLE WIDTH="620" CELLSPACING="0" CELLPADDING="0" BORDER="0">
            <TBODY><TR>
              <TD VALIGN="TOP" HEIGHT="10" ALIGN="LEFT"></TD>
            </TR>
            <TR>
                <TD VALIGN="TOP" ALIGN="CENTER"> 
                  <TABLE WIDTH="547" CELLSPACING="0" CELLPADDING="0" BORDER="0">
                <TBODY><TR>
                  <TD WIDTH="547" VALIGN="TOP" HEIGHT="20" ALIGN="LEFT" CLASS="BK12"><STRONG><BR>
                    亲爱的客户及合作伙伴， 您好： </STRONG></TD>
                </TR>
                <TR>
                  <TD VALIGN="TOP" HEIGHT="10" ALIGN="LEFT"></TD>
                </TR>
                <TR>
                  <TD VALIGN="TOP" HEIGHT="60" ALIGN="LEFT" CLASS="BK12">国内知名软件厂商浩擎信息其 OPENFIND MESSAGING ASSURANCE APPLIANCE 产品通过符合性测试、互连性测试及国际交叉审查，于 2012 年 9 月获得国际 IPV6 论坛组织授予 IPV6 READY 金质标章。…更多内容请见本期报导！                                                              </TD>
                </TR>
                <TR>
                  <TD VALIGN="TOP" ALIGN="LEFT"></TD>
                </TR>
                <TR>
                  <TD VALIGN="TOP" ALIGN="LEFT"><TABLE WIDTH="540" CELLSPACING="0" CELLPADDING="0" BORDER="0">
                    <TBODY><TR>
                      <TD VALIGN="TOP" ALIGN="LEFT">&NBSP;</TD>
                    </TR>
                    <TR>
                      <TD VALIGN="MIDDLE" HEIGHT="30" BACKGROUND="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/IMAGES/03_1.GIF" ALIGN="LEFT"><TABLE WIDTH="530" CELLSPACING="0" CELLPADDING="0" BORDER="0">
                        <TBODY><TR>
                          <TD VALIGN="TOP" ALIGN="LEFT">&NBSP;</TD>
                            <TD VALIGN="MIDDLE" ALIGN="LEFT"><SPAN CLASS="STYLE2">当期目录</SPAN></TD>
                            <TD VALIGN="TOP" ALIGN="RIGHT"><A TARGET="_BLANK" HREF="HTTP://WWW.OPENFIND.COM/TAIWAN/PARTNERS/PARTNERS_OVERVIEW.HTML"></A></TD>
                          </TR>
                        </TBODY></TABLE></TD>
                    </TR>
                    
                    <TR>
                      <TD VALIGN="TOP" BACKGROUND="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/IMAGES/03.GIF" ALIGN="LEFT"><TABLE WIDTH="530" CELLSPACING="0" CELLPADDING="0" BORDER="0">
                        <TBODY><TR>
                          <TD WIDTH="27" HEIGHT="154">&NBSP;</TD>
                          <TD WIDTH="503"><TABLE WIDTH="100%" CELLSPACING="0" CELLPADDING="0" BORDER="0">
                            <TBODY><TR>
                              <TD VALIGN="TOP" HEIGHT="10" ALIGN="LEFT" COLSPAN="4"></TD>
                              </TR>
                            <TR>
                              <TD WIDTH="149" VALIGN="TOP" ALIGN="LEFT" CLASS="BK12"><STRONG>最新消息</STRONG></TD>
                              <TD WIDTH="3" VALIGN="TOP" ALIGN="LEFT" CLASS="BK12">&NBSP;</TD>
                              <TD WIDTH="344" VALIGN="MIDDLE" ALIGN="LEFT" CLASS="BK12"><P><A HREF="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/#A1">业界第一！OPENFIND MESSAGING ASSURANCE APPLIANCE荣获IPV6 READY金质标章<BR></A>
                              <A HREF="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/#A2">智能时代的最佳信息整理术 让 MAIL2000 新版行事历帮您完成 <BR>
                              </A>
                              </A></P></TD>
                              <TD WIDTH="7" VALIGN="TOP" ALIGN="LEFT" CLASS="BK12">&NBSP;</TD>
                            </TR>
                            <TR>
                             
							  <TD VALIGN="TOP" HEIGHT="15" ALIGN="LEFT" COLSPAN="4"></TD>
                            </TR>
                          
                            <TR>
                              <TD VALIGN="TOP" ALIGN="LEFT" CLASS="BK12"><STRONG>OPENFINDER
                                看世界</STRONG></TD>
                              <TD VALIGN="TOP" ALIGN="LEFT" CLASS="BK12">&NBSP;</TD>
                              <TD VALIGN="TOP" ALIGN="LEFT" CLASS="BK12"><A HREF="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/#B1">OPENFIND 研发中心帅气出招，SECUSHARE 让你快意同步、安全分享安全分享！</A></TD>
                              <TD VALIGN="TOP" ALIGN="LEFT" CLASS="BK12">&NBSP;</TD>
                            </TR>
                            <TR>
                              <TD VALIGN="TOP" HEIGHT="15" ALIGN="LEFT" COLSPAN="4"></TD>
                            </TR>
                            <TR>
                              <TD VALIGN="TOP" ALIGN="LEFT" CLASS="BK12"><STRONG>产业洞悉</STRONG></TD>
                              <TD VALIGN="TOP" ALIGN="LEFT" CLASS="BK12">&NBSP;</TD>
                              <TD VALIGN="TOP" ALIGN="LEFT" CLASS="BK12"><A HREF="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/#C1">企业分享私有云，带您迎向信息分享新纪元！</A>
                              <TD VALIGN="TOP" ALIGN="LEFT" CLASS="BK12">&NBSP;</TD>
                            </TR>
                            
                            <TR><TD VALIGN="TOP" HEIGHT="15" ALIGN="LEFT" COLSPAN="4"></TD>
                            </TR>
                            <TR>
                              <TD VALIGN="TOP" ALIGN="LEFT" CLASS="BK12"><STRONG>新闻回顾</STRONG></TD>
                              <TD VALIGN="TOP" ALIGN="LEFT" CLASS="BK12">&NBSP;</TD>
                              <TD VALIGN="TOP" ALIGN="LEFT" CLASS="BK12"><P><A HREF="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/#D1">【新闻】化被动为主动！ OPENFIND 推出结合安全传输的邮件资安感知服务</A><BR>
<A HREF="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/#D2">【新闻】MAILBASE 4.0 SP2 面对个资法与BIG DATA推出创新应用，持续领导邮件归档市场  </A><BR>

                                </TD>
                              <TD VALIGN="TOP" ALIGN="LEFT" CLASS="BK12">&NBSP;</TD>
                            </TR>
                            
                            <TR>
                              <TD VALIGN="TOP" HEIGHT="2" ALIGN="LEFT" COLSPAN="4"></TD>
                            </TR>
                          </TBODY></TABLE></TD>
                        </TR>
                        </TBODY></TABLE></TD>
                  </TR>
                    <TR>
                      <TD VALIGN="TOP" HEIGHT="6" ALIGN="LEFT"><IMG WIDTH="540" HEIGHT="6" SRC="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/IMAGES/04.GIF"></TD>
                    </TR><TR>
                      <TD VALIGN="TOP" HEIGHT="6" ALIGN="LEFT"></TD>
                    </TR>
                    </TBODY></TABLE></TD>
                </TR>
                <TR>
                  <TD VALIGN="TOP" HEIGHT="2" ALIGN="LEFT"></TD>
                </TR>
                <TR>
                      <TD VALIGN="TOP" ALIGN="LEFT">
<TABLE WIDTH="540" CELLSPACING="0" CELLPADDING="0" BORDER="0">
                  <TBODY><TR>
                      <TD VALIGN="TOP" ALIGN="LEFT">
<TABLE WIDTH="540" CELLSPACING="0" CELLPADDING="0" BORDER="0">
                  <TBODY><TR>
                    <TD VALIGN="TOP" ALIGN="LEFT">&NBSP;</TD>
                  </TR>
                  <TR>
                    <TD WIDTH="540" VALIGN="TOP" ALIGN="LEFT"><A NAME="A1"></A><SPAN CLASS="BK14">最新消息</SPAN></TD>
                  </TR>
                  <TR>
                    <TD VALIGN="TOP" HEIGHT="10" ALIGN="LEFT"></TD>
                  </TR>
                  
                  <TR>
                    <TD VALIGN="TOP" ALIGN="LEFT" CLASS="BK13">业界第一！OPENFIND MESSAGING ASSURANCE APPLIANCE荣获IPV6 READY金质标章</TD>
                  </TR>
                  <TR>
                    <TD VALIGN="TOP" HEIGHT="64" ALIGN="LEFT" CLASS="BK12"><P>国内知名软件厂商浩擎信息 (OPENFIND INFORMATION TECHNOLOGY, INC.) ，其 OPENFIND MESSAGING ASSURANCE APPLIANCE 产品通过符合性测试、互连性测试及国际交叉审查，于 2012 年 9 月获得国际 IPV6 论坛组织授予 IPV6 READY 金质标章。









...<A HREF="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/ARTICLES/NEWS RELEASES02.HTM?NEWS_ID=2449" TARGET="_BLANK">MORE</A></P>                      </TD>
                  </TR> 
                  <TR>
                    <TD VALIGN="MIDDLE" HEIGHT="30" ALIGN="RIGHT"><A HREF="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/#TOP"><IMG WIDTH="34" HEIGHT="11" BORDER="0" SRC="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/IMAGES/TOP.GIF"></A></TD>
                  </TR>
                  <TR>
                    <TD VALIGN="TOP" HEIGHT="10" ALIGN="LEFT"></TD>
                  </TR>
                  
                  <TR>
                    <TD VALIGN="TOP" ALIGN="LEFT" CLASS="BK13"><A NAME="A2"></A> 智能时代的最佳信息整理术 让 MAIL2000 新版行事历帮您完成 </TD>
                  </TR>
                  <TR>
                    <TD VALIGN="TOP" HEIGHT="79" ALIGN="LEFT" CLASS="BK12"><P>从纸本到计算机，再从计算机到行动装置，在这信息爆炸的智能时代，散落各地的行程信息或开会数据，是很多商务人士时间管理的黑洞。因此，拥有一套完善信息整理术，才能从繁忙的生活中，整理出清晰的思路。有鉴于此，国内知名软件厂商浩擎信息 (OPENFIND) 全新推出MAIL2000行事历模块，精心打造绝佳的会议排程功能及开放的讯息发布平台，让使用者可随时随地快速安排行程，大幅提高工作效率与会议排程的便利性。









...<A HREF="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/ARTICLES/NEWS RELEASES03.HTM?NEWS_ID=2450" TARGET="_BLANK">MORE</A><BR>
                    </P>                      </TD>
                  </TR> 
                  <TR>
                    <TD VALIGN="MIDDLE" HEIGHT="30" ALIGN="RIGHT"><A HREF="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/#TOP"><IMG WIDTH="34" HEIGHT="11" BORDER="0" SRC="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/IMAGES/TOP.GIF"></A></TD>
                  </TR>
                  <TR>
                    <TD VALIGN="TOP" HEIGHT="10" ALIGN="LEFT"></TD>
                  </TR></TBODY></TABLE></TD>
                  
              </TR>
              </TABLE></TD>
              </TR>
              
                <TR>
                  <TD VALIGN="TOP" ALIGN="LEFT"><TABLE WIDTH="540" CELLSPACING="0" CELLPADDING="0" BORDER="0">
                    
                    <TBODY>
                    <TR>
                      <TD WIDTH="540" VALIGN="TOP" ALIGN="LEFT"><A NAME="B1"></A><SPAN CLASS="BK14">OPENFINDER 看世界</SPAN></TD>
                    </TR>
                    <TR>
                      <TD VALIGN="TOP" HEIGHT="10" ALIGN="LEFT"></TD>
                    </TR>
                    <TR>
                      <TD VALIGN="TOP" ALIGN="LEFT"><TABLE WIDTH="539" CELLSPACING="0" CELLPADDING="0" BORDER="0">
                        <TBODY><TR>
                          <TD WIDTH="98" VALIGN="TOP" ALIGN="CENTER" CLASS="BK12"><DIV ALIGN="LEFT">
                            <TABLE WIDTH="90" HEIGHT="90" CELLSPACING="0" CELLPADDING="1" BORDERCOLOR="#999999" BORDER="1">
                              <TBODY><TR>
                                <TD WIDTH="107" BGCOLOR="#FFFFFF" BORDERCOLOR="#FFFFFF"><DIV ALIGN="CENTER"><IMG WIDTH="70" HEIGHT="90" SRC="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/IMAGES/IVAN.JPG"></DIV></TD>
                              </TR>
                            </TBODY></TABLE>
                          </DIV>
                            <DIV ALIGN="LEFT"> BY 浩擎信息 <BR>
                              执行长<BR>
                              廖长健<BR>
                            </DIV>
                            <DIV ALIGN="LEFT"></DIV></TD>
                          <TD WIDTH="441" VALIGN="TOP" ALIGN="LEFT"><TABLE WIDTH="433" CELLSPACING="0" CELLPADDING="0" BORDER="0">
                            <TBODY><TR>
                              <TD WIDTH="433" VALIGN="TOP" HEIGHT="20" ALIGN="LEFT" CLASS="BK13">OPENFIND 研发中心帅气出招，SECUSHARE 让你快意同步、安全分享！</TD>
                            </TR>
                            <TR>
                              <TD VALIGN="TOP" HEIGHT="10" ALIGN="LEFT"></TD>
                            </TR>
                            <TR>
                              <TD VALIGN="TOP" HEIGHT="60" ALIGN="LEFT" CLASS="BK12">身为一家产品型软件公司 (PRODUCT-BASED SOFTWARE COMPANY)，持续推出新产品的动能，决定了公司是否可以继续成长、抑或是被市场淘汰的关键。除了现有产品持续推出新版来满足市场需求外，我们不断思考在核心竞争力的延伸线外，OPENFIND还可以帮我们的客户多做些什么？

...<A TARGET="_BLANK" HREF="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/ARTICLES/IVAN_201210.PDF">MORE</A></TD>
                            </TR>
                          </TBODY></TABLE></TD>
                        </TR>
                      </TBODY></TABLE></TD>
                    </TR>
                    <TR>
                      <TD VALIGN="MIDDLE" HEIGHT="30" ALIGN="RIGHT"><A HREF="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/#TOP"><IMG WIDTH="34" HEIGHT="11" BORDER="0" SRC="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/IMAGES/TOP.GIF"></A></TD>
                    </TR>
                    </TBODY></TABLE></TD>
                </TR>
                <TR>
                  <TD VALIGN="TOP" ALIGN="LEFT"><TABLE WIDTH="540" CELLSPACING="0" CELLPADDING="0" BORDER="0">
                    <TBODY><TR>
                      <TD VALIGN="TOP" ALIGN="LEFT">&NBSP;</TD>
                    </TR>
                    <TR>
                      <TD WIDTH="540" VALIGN="TOP" ALIGN="LEFT"><SPAN CLASS="BK14"><A NAME="C1"></A>产业洞悉</SPAN></TD>
                    </TR>
                    <TR>
                      <TD VALIGN="TOP" HEIGHT="10" ALIGN="LEFT"></TD>
                    </TR>
                    <TR>
                      <TD VALIGN="TOP" ALIGN="LEFT"><TABLE WIDTH="539" CELLSPACING="0" CELLPADDING="0" BORDER="0">
                        <TBODY><TR>
                          <TD WIDTH="110" VALIGN="TOP" ALIGN="CENTER" CLASS="BK12"><DIV ALIGN="LEFT">
                            <TABLE WIDTH="90" HEIGHT="90" CELLSPACING="0" CELLPADDING="1" BORDERCOLOR="#999999" BORDER="1">
                              <TBODY><TR>
                                <TD WIDTH="107" BGCOLOR="#FFFFFF" BORDERCOLOR="#FFFFFF"><DIV ALIGN="CENTER"><IMG WIDTH="80" HEIGHT="85" SRC="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/IMAGES/ROBOT.JPG"></DIV></TD>
                                </TR>
                              </TBODY></TABLE>
                            </DIV>
                            <DIV ALIGN="LEFT"> 
                              <P>BY 浩擎信息 <BR>
                                产品经理<BR>
                                王铭贤<BR>
                              </P>
                              </DIV>
                            <DIV ALIGN="LEFT"></DIV></TD>
                          <TD WIDTH="430" VALIGN="TOP" ALIGN="LEFT"><TABLE WIDTH="422" CELLSPACING="0" CELLPADDING="0" BORDER="0">
                            <TBODY><TR>
                              <TD WIDTH="422" VALIGN="TOP" HEIGHT="20" ALIGN="LEFT" CLASS="BK13">企业分享私有云，带您迎向信息分享新纪元！</TD>
                              </TR>
                            <TR>
                              <TD VALIGN="TOP" HEIGHT="10" ALIGN="LEFT"></TD>
                              </TR>
                            <TR>
                              <TD VALIGN="TOP" HEIGHT="60" ALIGN="LEFT" CLASS="BK12">近年来云端议题的发酵，让云端相关的服务与解决方案如雨后春笋般的冒出，其中云端硬盘服务更是表现最夺目的一颗新星，例如 DROPBOX ，在短短四年内营收就成长为一亿美金。这样的成功也开始吸引了许多 ICT 大厂如 ACER、ASUS、GOOGLE 等纷纷跨入云端硬盘服务的领域，希望藉此服务来提升用户对于产品的黏着度，进而扩大品牌的忠诚度。
...<A TARGET="_BLANK" HREF="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/ARTICLES/PM_201210.PDF">MORE </A></TD>
                              </TR>
                            </TBODY></TABLE></TD>
                          </TR>
                        </TBODY></TABLE></TD>
                    </TR>
                    <TR>
                      <TD VALIGN="TOP" ALIGN="LEFT" CLASS="BK12"></TD>
                    </TR><BR>
                    <TR>
                      <TD VALIGN="TOP" ALIGN="LEFT" CLASS="BK12"></TD>
                    </TR>
                    <TR>
                      <TD VALIGN="MIDDLE" HEIGHT="30" ALIGN="RIGHT"><A HREF="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/#TOP"><IMG WIDTH="34" HEIGHT="11" BORDER="0" SRC="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/IMAGES/TOP.GIF"></A></TD>
                      <TD VALIGN="TOP" HEIGHT="10" ALIGN="LEFT"></TD>
                    </TR>
                    <TR>
                      <TD VALIGN="TOP" HEIGHT="10" ALIGN="LEFT"></TD>
                    </TR>
                    <TR>
                      <TD VALIGN="TOP" ALIGN="LEFT" CLASS="BK12"></TD>
                    </TR>
                   
                    
                    <TR>
                      <TD VALIGN="TOP" ALIGN="LEFT" CLASS="BK12"></TD>
                    </TR>
                  </TABLE></TD>
                  <TD VALIGN="TOP" HEIGHT="10" ALIGN="LEFT"></TD>
                    </TR>
                    <TR>
                      <TD VALIGN="TOP" ALIGN="LEFT"><TABLE WIDTH="539" CELLSPACING="0" CELLPADDING="0" BORDER="0">
                        <TBODY>
                        </TBODY></TABLE></TD>
                    </TR>
                    <TR>
                      <TD VALIGN="TOP" ALIGN="LEFT" CLASS="BK12"></TD>
                    </TR>
                    
                          <TR>
                  <TD VALIGN="TOP" ALIGN="LEFT"><TABLE WIDTH="540" CELLSPACING="0" CELLPADDING="0" BORDER="0">
                    <TBODY>
                    
                    <TR>
                      <TD WIDTH="540" VALIGN="TOP" ALIGN="LEFT"><A NAME="D1"></A><SPAN CLASS="BK14">新闻回顾</SPAN></TD>
                    </TR><BR>
         
                    <TR>
                      <TD VALIGN="TOP" HEIGHT="10" ALIGN="LEFT"></TD>
                    </TR>
                    <TR>                   
                      <TD VALIGN="TOP" ALIGN="LEFT" CLASS="BK13"><P>【新闻】化被动为主动！ OPENFIND 推出结合安全传输的邮件资安感知服务</P>                        </TD>
                    </TR>
                    <TR>
                      <TD VALIGN="TOP" ALIGN="LEFT" CLASS="BK12"> 
 针对国内的资安事件，其中因数据传送未使用加密机制，造成账号密码外泄事件层出不穷，由于邮件系统为企业与外界沟通与业务往来重要的讯息交换平台。因此也常常成为有心人士亟欲窥探与意图窃取数据的目标。



 ...<A HREF="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/ARTICLES/NEWS RELEASES04.HTM?NEWS_ID=2448" TARGET="_BLANK">MORE</A></TD>
                    </TR>
                    <TR>
                      <TD VALIGN="MIDDLE" HEIGHT="30" ALIGN="RIGHT"><A HREF="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/#TOP"><IMG WIDTH="34" HEIGHT="11" BORDER="0" SRC="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/IMAGES/TOP.GIF"></A></TD>
                    </TR>
                    <TR>
                      <TD VALIGN="TOP" HEIGHT="10" ALIGN="LEFT"></TD>
                    </TR><BR>  <BR>
<TR>                   
                      <TD VALIGN="TOP" ALIGN="LEFT" CLASS="BK13"><P><A ID="D2" NAME="D2"></A>【新闻】MAILBASE 4.0 SP2面对云端与BIG DATA推出创新应用，持续领导邮件归档市场  </P>                        </TD>
                    </TR>
                    <TR>
                      <TD VALIGN="TOP" ALIGN="LEFT" CLASS="BK12"> 
 今年来最火红的话题除了云端外，即非BIG DATA莫属了。BIG DATA是指大量、高成长以及多变化的信息资产，透过社群媒体平台、电子邮件和即时消息的形式，从四面八方大量集结而成。其中，企业每日赖以沟通的工具-电子邮件，更不容小觑其数据量的成长。



 ...<A HREF="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/ARTICLES/NEWS RELEASES05.HTM?NEWS_ID=2446" TARGET="_BLANK">MORE</A></TD>
                    </TR>
                    <TR>
                      <TD VALIGN="MIDDLE" HEIGHT="30" ALIGN="RIGHT"><A HREF="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/#TOP"><IMG WIDTH="34" HEIGHT="11" BORDER="0" SRC="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/IMAGES/TOP.GIF"></A></TD>
                   
                                      
                   
                    </TR>
                    <TR>
                      <TD VALIGN="TOP" HEIGHT="10" ALIGN="LEFT"></TD>
                    </TR>
                    

                  </TABLE></TD>
                </TR>             
                    <TR>
                      <TD VALIGN="TOP" HEIGHT="10" ALIGN="LEFT"><DIV ALIGN="CENTER"><SPAN CLASS="BK12">OPENFIND 于每月一次透过电子报寄送会员讯息，若未来您不希望收到讯息，请点选【<A TARGET="_BLANK" HREF="HTTP://CNDEMO.OPENFIND.COM/CHINA/ORDER/INDEX.PHP">取消订阅</A>】。</SPAN></DIV></TD>
                
                  <TD VALIGN="MIDDLE" HEIGHT="30" ALIGN="CENTER" CLASS="BK12">&NBSP;</TD>
                </TR>
                <TR>
                  <TD VALIGN="MIDDLE" HEIGHT="30" ALIGN="CENTER"><SPAN CLASS="BK12">想要了解更多讯息，请浏览 <A TARGET="_BLANK" HREF="HTTP://WWW.OPENFIND.COM.TW/CHINA/INDEX.PHP">WWW.OPENFIND.COM</A> 或来电 ( 021 ) 5187 - 3387 咨询。 </SPAN></TD>
                </TR>
                
                <TR>
                  <TD VALIGN="MIDDLE" HEIGHT="20" ALIGN="LEFT"><IMG WIDTH="541" HEIGHT="8" SRC="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/IMAGES/06.GIF"></TD>
                </TR>
                
                <TR>
                  <TD VALIGN="TOP" ALIGN="CENTER" CLASS="BK12"><SPAN CLASS="STYLE1">&COPY; 2012 OPENFIND</SPAN></TD>
                </TR>
                <TR>
                  <TD VALIGN="TOP" HEIGHT="2" ALIGN="LEFT"></TD>
                </TR>
                </TABLE></TD>
            </TR>
          </TABLE></TD>
      </TR>
      <TR>
        <TD VALIGN="TOP" HEIGHT="12" ALIGN="LEFT"><IMG WIDTH="620" HEIGHT="12" SRC="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/IMAGES/07.GIF"></TD>
      </TR>
    </TABLE></TD>
    <TD WIDTH="404" ALIGN="LEFT" VALIGN="TOP"><TABLE WIDTH="100%" HEIGHT="398" CELLSPACING="0" CELLPADDING="0" BORDER="0">
      <TBODY><TR>
        <TD VALIGN="TOP" HEIGHT="250" BACKGROUND="HTTP://CNDEMO.OPENFIND.COM/CHINA/EPAPER/2012_10/IMAGES/BG_200904.GIF" ALIGN="LEFT">&NBSP;</TD>
      </TR>
    </TBODY></TABLE>
      <DIV ALIGN="CENTER"></DIV></TD>
  </TR>
  
    <TR>
      <TD VALIGN="TOP" ALIGN="LEFT">&NBSP;</TD>
      <TD VALIGN="TOP" ALIGN="LEFT">&NBSP;</TD>
      <TD VALIGN="TOP" ALIGN="LEFT">&NBSP;</TD>
    </TR>
</TBODY></TABLE>
<IMG SRC="HTTP://WWW.OPENFIND.COM/TAIWAN/EPAPER/ELOG.PHP?USERID={EMAIL}&DATE={EPAPER_DATE}" WIDTH="1" HEIGHT="1">
</BODY>
</HTML>