Dear $|NAME|$ <br/>
from $|EMAIL|$ <br/>
<table width="101%" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr>
    <td width="388" align="left" valign="top"> 
      <table width="100%" height="398" cellspacing="0" cellpadding="0" border="0">
      <tbody><tr>
        <td valign="top" height="250" background="images/bg_200904.gif" align="right">&nbsp;</td>
      </tr>
    </tbody></table></td>
    <td width="620" valign="top" align="left"><table width="620" cellspacing="0" cellpadding="0" border="0">
      <tbody><tr>
        <td valign="top" align="left"><a style="font-size: 13px;text-decoration: none;" name="top"></a><img width="620" height="11" src="$|img23|$"></td>
      </tr>
      <tr>
        <td valign="top" height="21" background="images/05.gif" align="center"><table width="580" cellspacing="0" cellpadding="0" border="0">
            <tbody><tr>
                <td valign="top" height="21" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;">Oct. 25 
                  , 2012 Vol. 80</td>
                <td valign="top" height="21" align="right" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"><a style="font-size: 13px;text-decoration: none;" target="_blank" href="$|href20|$">取消订阅</a> | <a style="font-size: 13px;text-decoration: none;" target="_blank" href="$|href7|$">关于浩擎</a></td>
            </tr>
        </tbody></table></td>
      </tr>
      <tr>
          <td valign="top" background="images/05.gif" align="left"><img width="620" height="151" src="$|img24|$">
            <table width="620" cellspacing="0" cellpadding="0" border="0">
            <tbody><tr>
              <td valign="top" height="10" align="left"></td>
            </tr>
            <tr>
                <td valign="top" align="center"> 
                  <table width="547" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr>
                  <td width="547" valign="top" height="20" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"><strong><br>
                    亲爱的客户及合作伙伴， 您好： </strong></td>
                </tr>
                <tr>
                  <td valign="top" height="10" align="left"></td>
                </tr>
                <tr>
                  <td valign="top" height="60" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;">国内知名软件厂商浩擎信息其 Openfind Messaging Assurance Appliance 产品通过符合性测试、互连性测试及国际交叉审查，于 2012 年 9 月获得国际 IPv6 论坛组织授予 IPv6 Ready 金质标章。…更多内容请见本期报导！                                                              </td>
                </tr>
                <tr>
                  <td valign="top" align="left"></td>
                </tr>
                <tr>
                  <td valign="top" align="left"><table width="540" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                      <td valign="top" align="left">&nbsp;</td>
                    </tr>
                    <tr>
                      <td valign="middle" height="30" background="images/03_1.gif" align="left"><table width="530" cellspacing="0" cellpadding="0" border="0">
                        <tbody><tr>
                          <td valign="top" align="left">&nbsp;</td>
                            <td valign="middle" align="left"><span class="style2"  style="color: #666666;font-weight: bold;">当期目录</span></td>
                            <td valign="top" align="right"><a style="font-size: 13px;text-decoration: none;" target="_blank" href="$|href2|$"></a></td>
                          </tr>
                        </tbody></table></td>
                    </tr>
                    
                    <tr>
                      <td valign="top" background="images/03.gif" align="left"><table width="530" cellspacing="0" cellpadding="0" border="0">
                        <tbody><tr>
                          <td width="27" height="154">&nbsp;</td>
                          <td width="503"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody><tr>
                              <td valign="top" height="10" align="left" colspan="4"></td>
                              </tr>
                            <tr>
                              <td width="149" valign="top" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"><strong>最新消息</strong></td>
                              <td width="3" valign="top" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;">&nbsp;</td>
                              <td width="344" valign="middle" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"><p><a style="font-size: 13px;text-decoration: none;" href="$|href14|$">业界第一！Openfind Messaging Assurance Appliance荣获IPv6 Ready金质标章<br></a>
                              <a style="font-size: 13px;text-decoration: none;" href="$|href15|$">智能时代的最佳信息整理术 让 Mail2000 新版行事历帮您完成 <br>
                              </a>
                              </a></p></td>
                              <td width="7" valign="top" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;">&nbsp;</td>
                            </tr>
                            <tr>
                             
							  <td valign="top" height="15" align="left" colspan="4"></td>
                            </tr>
                          
                            <tr>
                              <td valign="top" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"><strong>Openfinder
                                看世界</strong></td>
                              <td valign="top" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;">&nbsp;</td>
                              <td valign="top" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"><a style="font-size: 13px;text-decoration: none;" href="$|href16|$">Openfind 研发中心帅气出招，SecuShare 让你快意同步、安全分享安全分享！</a></td>
                              <td valign="top" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;">&nbsp;</td>
                            </tr>
                            <tr>
                              <td valign="top" height="15" align="left" colspan="4"></td>
                            </tr>
                            <tr>
                              <td valign="top" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"><strong>产业洞悉</strong></td>
                              <td valign="top" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;">&nbsp;</td>
                              <td valign="top" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"><a style="font-size: 13px;text-decoration: none;" href="$|href17|$">企业分享私有云，带您迎向信息分享新纪元！</a>
                              <td valign="top" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;">&nbsp;</td>
                            </tr>
                            
                            <tr><td valign="top" height="15" align="left" colspan="4"></td>
                            </tr>
                            <tr>
                              <td valign="top" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"><strong>新闻回顾</strong></td>
                              <td valign="top" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;">&nbsp;</td>
                              <td valign="top" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"><p><a style="font-size: 13px;text-decoration: none;" href="$|href18|$">【新闻】化被动为主动！ Openfind 推出结合安全传输的邮件资安感知服务</a><br>
<a style="font-size: 13px;text-decoration: none;" href="$|href19|$">【新闻】MailBase 4.0 SP2 面对个资法与Big Data推出创新应用，持续领导邮件归档市场  </a><br>

                                </td>
                              <td valign="top" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;">&nbsp;</td>
                            </tr>
                            
                            <tr>
                              <td valign="top" height="2" align="left" colspan="4"></td>
                            </tr>
                          </tbody></table></td>
                        </tr>
                        </tbody></table></td>
                  </tr>
                    <tr>
                      <td valign="top" height="6" align="left"><img width="540" height="6" src="$|img25|$"></td>
                    </tr><tr>
                      <td valign="top" height="6" align="left"></td>
                    </tr>
                    </tbody></table></td>
                </tr>
                <tr>
                  <td valign="top" height="2" align="left"></td>
                </tr>
                <tr>
                      <td valign="top" align="left">
<table width="540" cellspacing="0" cellpadding="0" border="0">
                  <tbody><tr>
                      <td valign="top" align="left">
<table width="540" cellspacing="0" cellpadding="0" border="0">
                  <tbody><tr>
                    <td valign="top" align="left">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="540" valign="top" align="left"><a style="font-size: 13px;text-decoration: none;" name="a1"></a><span class="bk14"  style="font-size: 15px;font-weight: bold;color: #696969;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;">最新消息</span></td>
                  </tr>
                  <tr>
                    <td valign="top" height="10" align="left"></td>
                  </tr>
                  
                  <tr>
                    <td valign="top" align="left" class="bk13"  style="font-size: 12px;font-weight: bold;color: #ff8a00;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;">业界第一！Openfind Messaging Assurance Appliance荣获IPv6 Ready金质标章</td>
                  </tr>
                  <tr>
                    <td valign="top" height="64" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"><p>国内知名软件厂商浩擎信息 (Openfind Information Technology, Inc.) ，其 Openfind Messaging Assurance Appliance 产品通过符合性测试、互连性测试及国际交叉审查，于 2012 年 9 月获得国际 IPv6 论坛组织授予 IPv6 Ready 金质标章。









...<a style="font-size: 13px;text-decoration: none;" href="$|href3|$ Releases02.htm?news_id=2449" target="_blank">more</a></p>                      </td>
                  </tr> 
                  <tr>
                    <td valign="middle" height="30" align="right"><a style="font-size: 13px;text-decoration: none;" href="$|href8|$"><img width="34" height="11" border="0" src="$|img26|$"></a></td>
                  </tr>
                  <tr>
                    <td valign="top" height="10" align="left"></td>
                  </tr>
                  
                  <tr>
                    <td valign="top" align="left" class="bk13"  style="font-size: 12px;font-weight: bold;color: #ff8a00;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"><a style="font-size: 13px;text-decoration: none;" name="a2"></a> 智能时代的最佳信息整理术 让 Mail2000 新版行事历帮您完成 </td>
                  </tr>
                  <tr>
                    <td valign="top" height="79" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"><p>从纸本到计算机，再从计算机到行动装置，在这信息爆炸的智能时代，散落各地的行程信息或开会数据，是很多商务人士时间管理的黑洞。因此，拥有一套完善信息整理术，才能从繁忙的生活中，整理出清晰的思路。有鉴于此，国内知名软件厂商浩擎信息 (Openfind) 全新推出Mail2000行事历模块，精心打造绝佳的会议排程功能及开放的讯息发布平台，让使用者可随时随地快速安排行程，大幅提高工作效率与会议排程的便利性。









...<a style="font-size: 13px;text-decoration: none;" href="$|href3|$ Releases03.htm?news_id=2450" target="_blank">more</a><br>
                    </p>                      </td>
                  </tr> 
                  <tr>
                    <td valign="middle" height="30" align="right"><a style="font-size: 13px;text-decoration: none;" href="$|href8|$"><img width="34" height="11" border="0" src="$|img26|$"></a></td>
                  </tr>
                  <tr>
                    <td valign="top" height="10" align="left"></td>
                  </tr></tbody></table></td>
                  
              </tr>
              </table></td>
              </tr>
              
                <tr>
                  <td valign="top" align="left"><table width="540" cellspacing="0" cellpadding="0" border="0">
                    
                    <tbody>
                    <tr>
                      <td width="540" valign="top" align="left"><a style="font-size: 13px;text-decoration: none;" name="b1"></a><span class="bk14"  style="font-size: 15px;font-weight: bold;color: #696969;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;">Openfinder 看世界</span></td>
                    </tr>
                    <tr>
                      <td valign="top" height="10" align="left"></td>
                    </tr>
                    <tr>
                      <td valign="top" align="left"><table width="539" cellspacing="0" cellpadding="0" border="0">
                        <tbody><tr>
                          <td width="98" valign="top" align="center" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"><div align="left">
                            <table width="90" height="90" cellspacing="0" cellpadding="1" bordercolor="#999999" border="1">
                              <tbody><tr>
                                <td width="107" bgcolor="#ffffff" bordercolor="#FFFFFF"><div align="center"><img width="70" height="90" src="$|img28|$"></div></td>
                              </tr>
                            </tbody></table>
                          </div>
                            <div align="left"> By 浩擎信息 <br>
                              执行长<br>
                              廖长健<br>
                            </div>
                            <div align="left"></div></td>
                          <td width="441" valign="top" align="left"><table width="433" cellspacing="0" cellpadding="0" border="0">
                            <tbody><tr>
                              <td width="433" valign="top" height="20" align="left" class="bk13"  style="font-size: 12px;font-weight: bold;color: #ff8a00;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;">Openfind 研发中心帅气出招，SecuShare 让你快意同步、安全分享！</td>
                            </tr>
                            <tr>
                              <td valign="top" height="10" align="left"></td>
                            </tr>
                            <tr>
                              <td valign="top" height="60" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;">身为一家产品型软件公司 (Product-based Software Company)，持续推出新产品的动能，决定了公司是否可以继续成长、抑或是被市场淘汰的关键。除了现有产品持续推出新版来满足市场需求外，我们不断思考在核心竞争力的延伸线外，Openfind还可以帮我们的客户多做些什么？

...<a style="font-size: 13px;text-decoration: none;" target="_blank" href="$|href0|$">more</a></td>
                            </tr>
                          </tbody></table></td>
                        </tr>
                      </tbody></table></td>
                    </tr>
                    <tr>
                      <td valign="middle" height="30" align="right"><a style="font-size: 13px;text-decoration: none;" href="$|href8|$"><img width="34" height="11" border="0" src="$|img26|$"></a></td>
                    </tr>
                    </tbody></table></td>
                </tr>
                <tr>
                  <td valign="top" align="left"><table width="540" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                      <td valign="top" align="left">&nbsp;</td>
                    </tr>
                    <tr>
                      <td width="540" valign="top" align="left"><span class="bk14"  style="font-size: 15px;font-weight: bold;color: #696969;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"><a style="font-size: 13px;text-decoration: none;" name="c1"></a>产业洞悉</span></td>
                    </tr>
                    <tr>
                      <td valign="top" height="10" align="left"></td>
                    </tr>
                    <tr>
                      <td valign="top" align="left"><table width="539" cellspacing="0" cellpadding="0" border="0">
                        <tbody><tr>
                          <td width="110" valign="top" align="center" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"><div align="left">
                            <table width="90" height="90" cellspacing="0" cellpadding="1" bordercolor="#999999" border="1">
                              <tbody><tr>
                                <td width="107" bgcolor="#ffffff" bordercolor="#FFFFFF"><div align="center"><img width="80" height="85" src="$|img30|$"></div></td>
                                </tr>
                              </tbody></table>
                            </div>
                            <div align="left"> 
                              <p>By 浩擎信息 <br>
                                产品经理<br>
                                王铭贤<br>
                              </p>
                              </div>
                            <div align="left"></div></td>
                          <td width="430" valign="top" align="left"><table width="422" cellspacing="0" cellpadding="0" border="0">
                            <tbody><tr>
                              <td width="422" valign="top" height="20" align="left" class="bk13"  style="font-size: 12px;font-weight: bold;color: #ff8a00;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;">企业分享私有云，带您迎向信息分享新纪元！</td>
                              </tr>
                            <tr>
                              <td valign="top" height="10" align="left"></td>
                              </tr>
                            <tr>
                              <td valign="top" height="60" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;">近年来云端议题的发酵，让云端相关的服务与解决方案如雨后春笋般的冒出，其中云端硬盘服务更是表现最夺目的一颗新星，例如 Dropbox ，在短短四年内营收就成长为一亿美金。这样的成功也开始吸引了许多 ICT 大厂如 Acer、Asus、Google 等纷纷跨入云端硬盘服务的领域，希望藉此服务来提升用户对于产品的黏着度，进而扩大品牌的忠诚度。
...<a style="font-size: 13px;text-decoration: none;" target="_blank" href="$|href1|$">more </a></td>
                              </tr>
                            </tbody></table></td>
                          </tr>
                        </tbody></table></td>
                    </tr>
                    <tr>
                      <td valign="top" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"></td>
                    </tr><br>
                    <tr>
                      <td valign="top" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"></td>
                    </tr>
                    <tr>
                      <td valign="middle" height="30" align="right"><a style="font-size: 13px;text-decoration: none;" href="$|href8|$"><img width="34" height="11" border="0" src="$|img26|$"></a></td>
                      <td valign="top" height="10" align="left"></td>
                    </tr>
                    <tr>
                      <td valign="top" height="10" align="left"></td>
                    </tr>
                    <tr>
                      <td valign="top" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"></td>
                    </tr>
                   
                    
                    <tr>
                      <td valign="top" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"></td>
                    </tr>
                  </table></td>
                  <td valign="top" height="10" align="left"></td>
                    </tr>
                    <tr>
                      <td valign="top" align="left"><table width="539" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                        </tbody></table></td>
                    </tr>
                    <tr>
                      <td valign="top" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"></td>
                    </tr>
                    
                          <tr>
                  <td valign="top" align="left"><table width="540" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    
                    <tr>
                      <td width="540" valign="top" align="left"><a style="font-size: 13px;text-decoration: none;" name="d1"></a><span class="bk14"  style="font-size: 15px;font-weight: bold;color: #696969;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;">新闻回顾</span></td>
                    </tr><br>
         
                    <tr>
                      <td valign="top" height="10" align="left"></td>
                    </tr>
                    <tr>                   
                      <td valign="top" align="left" class="bk13"  style="font-size: 12px;font-weight: bold;color: #ff8a00;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"><p>【新闻】化被动为主动！ Openfind 推出结合安全传输的邮件资安感知服务</p>                        </td>
                    </tr>
                    <tr>
                      <td valign="top" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"> 
 针对国内的资安事件，其中因数据传送未使用加密机制，造成账号密码外泄事件层出不穷，由于邮件系统为企业与外界沟通与业务往来重要的讯息交换平台。因此也常常成为有心人士亟欲窥探与意图窃取数据的目标。



 ...<a style="font-size: 13px;text-decoration: none;" href="$|href3|$ Releases04.htm?news_id=2448" target="_blank">more</a></td>
                    </tr>
                    <tr>
                      <td valign="middle" height="30" align="right"><a style="font-size: 13px;text-decoration: none;" href="$|href8|$"><img width="34" height="11" border="0" src="$|img26|$"></a></td>
                    </tr>
                    <tr>
                      <td valign="top" height="10" align="left"></td>
                    </tr><br>  <br>
<tr>                   
                      <td valign="top" align="left" class="bk13"  style="font-size: 12px;font-weight: bold;color: #ff8a00;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"><p><a style="font-size: 13px;text-decoration: none;" id="d2" name="d2"></a>【新闻】MailBase 4.0 SP2面对云端与Big Data推出创新应用，持续领导邮件归档市场  </p>                        </td>
                    </tr>
                    <tr>
                      <td valign="top" align="left" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"> 
 今年来最火红的话题除了云端外，即非Big Data莫属了。Big Data是指大量、高成长以及多变化的信息资产，透过社群媒体平台、电子邮件和即时消息的形式，从四面八方大量集结而成。其中，企业每日赖以沟通的工具-电子邮件，更不容小觑其数据量的成长。



 ...<a style="font-size: 13px;text-decoration: none;" href="$|href3|$ Releases05.htm?news_id=2446" target="_blank">more</a></td>
                    </tr>
                    <tr>
                      <td valign="middle" height="30" align="right"><a style="font-size: 13px;text-decoration: none;" href="$|href8|$"><img width="34" height="11" border="0" src="$|img26|$"></a></td>
                   
                                      
                   
                    </tr>
                    <tr>
                      <td valign="top" height="10" align="left"></td>
                    </tr>
                    

                  </table></td>
                </tr>             
                    <tr>
                      <td valign="top" height="10" align="left"><div align="center"><span class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;">Openfind 于每月一次透过电子报寄送会员讯息，若未来您不希望收到讯息，请点选【<a style="font-size: 13px;text-decoration: none;" target="_blank" href="$|href20|$">取消订阅</a>】。</span></div></td>
                
                  <td valign="middle" height="30" align="center" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;">&nbsp;</td>
                </tr>
                <tr>
                  <td valign="middle" height="30" align="center"><span class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;">想要了解更多讯息，请浏览 <a style="font-size: 13px;text-decoration: none;" target="_blank" href="$|href22|$">www.openfind.com</a> 或来电 ( 021 ) 5187 - 3387 咨询。 </span></td>
                </tr>
                
                <tr>
                  <td valign="middle" height="20" align="left"><img width="541" height="8" src="$|img34|$"></td>
                </tr>
                
                <tr>
                  <td valign="top" align="center" class="bk12"  style="font-size: 12px;font-weight: normal;color: #333333;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 20px;"><span class="style1" style="color: #999999;">&copy; 2012 Openfind</span></td>
                </tr>
                <tr>
                  <td valign="top" height="2" align="left"></td>
                </tr>
                </table></td>
            </tr>
          </table></td>
      </tr>
      <tr>
        <td valign="top" height="12" align="left"><img width="620" height="12" src="$|img35|$"></td>
      </tr>
    </table></td>
    <td width="404" align="left" valign="top"><table width="100%" height="398" cellspacing="0" cellpadding="0" border="0">
      <tbody><tr>
        <td valign="top" height="250" background="images/bg_200904.gif" align="left">&nbsp;</td>
      </tr>
    </tbody></table>
      <div align="center"></div></td>
  </tr>
  
    <tr>
      <td valign="top" align="left">&nbsp;</td>
      <td valign="top" align="left">&nbsp;</td>
      <td valign="top" align="left">&nbsp;</td>
    </tr>
</tbody></table>
<img src="http://www.openfind.com/taiwan/epaper/elog.php?userid={email}&date={epaper_date}" width="1" height="1">