Markaby::Builder.new.html do
  head do
    title "$|Title|$"
  end
  body do
    p "Hello $|NAME|$, Your Email is $|EMAIL|$, Subject is $|SUBJECT|$"
    ul do
      li '<a href="asdf" target="blank">asdf</a>'
    end
  end
end