<div class="docs-form">
 <!--<div class="close">x</div>-->
 <div class="header">发送主题使用说明</div>
 
 <div class="remark hidden">注：此处创建的邮件模板中包含群发邮件过程中所需要的全部参数，请务必认真填写！</div>
 
 
 <div class="docs-body">
   <div class="subtitle">名词解释</div>
  <ol>
   <li><div class="key-word">信件标题</div>
      此次邮件活动的主题名称。</li>
   <li><div class="key-word">发件者名称</div>
       发件者名称。</li>
   <li><div class="key-word">发件者邮箱</div>
       此次邮件群发使用的邮箱。</li>
   <li><div class="key-word">模板</div>
       此次邮件活动的内容。</li>
   <li><div class="key-word">发送时间</div>
        手动发送：点击后即刻发送;预约发送：定时发送;。</li>
  </ol>
  <div class="subtitle">特别说明</div>
  <ol>
   <li><div class="key-word">发送主题信息的完整性</div>
        必须填写基本信息、收信人、发送时间。
   </li>
  </ol>
 </div>
</div>
