 <body style="padding-top:0px">       
    <div style="margin:0 auto;width:800px;margin-top:50px;">

   <%= high_chart("chart_domain_track", g_chart_usermap(params[:c_id])) %>


   </div>
 </body>

